@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@tailwind base;

@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-base;
  }
}

* {
  font-family: "Inconsolata", monospace;
}
#inputfield {
  background-color: transparent;
  box-sizing: border-box;
  color: whitesmoke;
  padding: 10px;
  caret-color: blueviolet;
  border: transparent;
  outline: none;
  border-bottom: 2px solid #340027;
}

/*
      'whitebex':'#E5E5E5',
      'bexpurpledark' : '#340027',
      'bexpurplemedium' : '#74005B',
      'bexpurplelight' : '#8A006C',
      'bexgray' : '#393939'*/
